* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;600,700;800,900;1,100&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 calc(50% - 1140px / 2);
}






.menu {
    background-color: #222222;
    height: 75px;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 20px;
    align-items: flex-end;
    justify-content: space-between;
}

.menu__left-link {
    margin-right: 41px;
}

.menu__right-link {
    margin-left: 33px;
}






.top__header {
    background-color: #F1E4E6;
    display: flex;
    align-items: flex-start;
    height: 764px;
}

.top__header-image {
    padding: 0 0 0 calc(50% - 1600px / 2);
}

.top__header-heading {
    margin-left: 64px;
    margin-top: 290px;
    display: flex;
}

.top__header-heading-img {
    margin-right: 16px;
}

.top__header-heading-text {
    flex-direction: column;
}

.top__header-heading1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.top__header-heading2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}






.search-section {
    margin-top: 65px;
    margin-bottom: 96px;
    display: flex;
    flex-wrap: wrap;
}

.search-section__card {
    margin-right: 30px;
}

.search-section__card-4 {
    margin-top: 30px;
}

.search-section__card-heading {
    position: absolute;
    padding-top: 105px;
    padding-left: 103px;
}

.search-section__card-heading-long {
    position: absolute;
    padding-top: 65px;
    padding-left: 490px;
}

.search-section__card-heading1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

}

.search-section__card-heading2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
}






.products-section {
    margin-bottom: 95px;
}

.products-section__heading1 {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    padding-bottom: 6px;
    text-align: center;
}

.products-section__heading2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    padding-bottom: 48px;
    text-align: center;
}

.products-section__cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 48px;
}

.products-section__card {
    background-color: #F8F8F8;
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.products-section__card-2 {
    background-color: #F8F8F8;
    width: 360px;
    margin-bottom: 30px;
}

.products-section__card-img {
    padding-bottom: 25px;
}

.products-section__card-heading1 {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding-bottom: 13px;
    padding-left: 18px;
}

.products-section__card-heading2 {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-bottom: 18px;
    padding-left: 18px;
}

.products-section__card-heading3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    padding-left: 18px;
    padding-bottom: 20px;
}

.btn {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 15px 39px;
    margin-left: 465px;
}






.feature-section {
    background-color: #222224;
    padding-top: 103px;
    padding-bottom: 104px;
    display: flex;
}

.feature-section__info {
    width: 360px;
    margin-right: 30px;
}

.feature-section__info-2 {
    width: 360px;
}

.feature-section__info-img {
    padding-bottom: 28px;
    padding-left: 158px;
}

.feature-section__info-heading1 {
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center;
    padding-bottom: 16px;
}

.feature-section__info-heading2 {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #FBFBFB;
    text-align: center;
}





.footer {}

.subscribe-section {
    height: 448px;
    background-image: url(images/footer_subscribe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
}

.quote {
    width: 359px;
    margin-top: 97px;
}

.quote-img {
    padding-left: 122px;
    padding-bottom: 30px;
}

.quote-heading {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe {
    padding-top: 150px;
}

.subscribe__text1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.subscribe__text2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    padding-bottom: 32px;
}

.subscribe__form {
    display: flex;
    justify-content: center;
}

.input {
    padding: 15px 64px 15px 22px;
    background-color: #E1E1E1;
    border: none;
    border-radius: 20px 0 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #222224;
    opacity: 0.67;
}

.button-form {
    padding: 15px 18px 15px 18px;
    background-color: #F16D7F;
    border: none;
    border-radius: 0 20px 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}








.copyright {
    background-color: #222224;
    height: 79px;
    display: flex;
    justify-content: space-between;
}

.copyright__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    padding-top: 30px;
}

.copyright__network {
    padding-top: 24px;
}