.basket-section {
    display: flex;
    justify-content: space-between;

    @media (max-width: media(level_2)) {
        flex-direction: column;
        align-items: center;
    }


    &__cards {
        display: flex;
        flex-direction: column;
        margin-top: 6rem;

        &-buttons {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8rem;
            margin-top: 4.5rem;

            @media (max-width: media(level_4)) {
                margin-bottom: 3rem;
                margin-top: 1.9rem;
            }

            @media (max-width: media(level_7)) {
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;
            }
        }
    }

    &__button {
        font: {
            weight: 300;
            size: 0.9rem;
        }

        color: #5e5e5e;
        border: 1px solid #a2a2a2;
        min-width: 10rem;
        max-width: 10rem;
        justify-content: center;


        transition: 0.4s;

        &:hover {
            color: #000000;
            border: 1px solid #000000;
        }

        @media (max-width: media(level_4)) {
            font-size: 0.75rem;
            padding: 0.5rem 1.3rem;
            min-width: 0;
        }

        @media (max-width: media(level_7)) {
            margin-bottom: 1rem;
            min-width: 9rem;
        }
    }

    &__ordering {
        display: flex;
        flex-direction: column;
        width: 22.5rem;

        @media (max-width: media(level_2)) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            min-width: 40.7rem;
        }

        @media (max-width: media(level_4)) {
            display: flex;
            flex-direction: column;
            min-width: 22.3rem;
            align-items: stretch;
        }
    }
}