.basket-section {
    display: flex;
    justify-content: space-between;
}

.basket-section__cards {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.basket-section__cards-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
    margin-top: 4.5rem;
}

.basket-section__button {
    font-weight: 300;
    font-size: 0.9rem;
    color: #000000;
    border: 1px solid #000000;
    min-width: 10rem;
    max-width: 10rem;
}

.basket-section__ordering {
    display: flex;
    flex-direction: column;
    width: 22.5rem;
}