.benefits {
    position: relative;
    top: -4rem;


    &__info {
        border: 1px solid #EAEAEA;
        background-color: rgb(255, 255, 255);
        margin-bottom: 8rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-line {
            border: 0.1px solid #EAEAEA;
            width: 40rem;
            margin-top: 4rem;
        }
    }
}

.sort-product {
    display: flex;
    justify-content: center;
    padding-bottom: 3rem;
}

.button-basket {
    padding-bottom: 4rem;
}

.basket {
    fill: $mainColor;
    padding-right: 1.4rem;
}