.breadcrumb {
    background-color: #F8F3F4;
    height: 9.25rem;
    display: flex;
    justify-content: space-between;
}

.breadcrumb__title {
    padding-top: 3.7rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #F16D7F;
}

.breadcrumb__items {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
}

.breadcrumb__item {
    padding-right: 0.1rem;
}

.breadcrumb__item-title {
    text-decoration: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #636363;
}