$font-sizes: (
    card-product__title: 1rem,
    card-product__subtitle: 0.9rem,
    card-product__price: 1.1rem,
);

@each $name,
$size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}


.card-product {
    background-color: #F8F8F8;
    max-width: 32%;
    margin-bottom: 2rem;


    &__img {
        padding-bottom: 1.6rem;
        width: 100%;
    }

    &__title {
        font-weight: 400;
        line-height: 1rem;
        color: #000000;
        padding-bottom: 1rem;
        padding-left: 1.2rem;
    }

    &__subtitle {
        font-weight: 300;
        line-height: 1rem;
        color: #5D5D5D;
        padding-bottom: 1.2rem;
        padding-left: 1.2rem;
    }

    &__price {
        font-weight: 400;
        line-height: 1.2rem;
        color: darken($mainColor, 10);
        padding-left: 1.2rem;
        padding-bottom: 1.25rem;
    }
}