$font-sizes: (
    card-product__title: 1rem,
    card-product__subtitle: 0.9rem,
    card-product__price: 1.1rem,
);

@each $name,
$size in $font-sizes {
    .#{$name} {
        font-size: $size;
    }
}


.card-product {
    background-color: #F8F8F8;
    max-width: 22.5rem;
    margin-bottom: 2rem;
    position: relative;

    transition: 0.7s;

    &:hover {
        box-shadow: 10px 10px 25px rgb(0 0 0 / 20%);
        transform: scale(1.02);
    }

    @media (max-width: media(level_1)) {
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }

    @media (max-width: media(level_4)) {
        margin-right: 0.25rem;
        margin-left: 0.25rem;
    }


    &__link {
        text-decoration: none;
    }

    &__img {
        width: 100%;

        &:hover .card-product__overlay {
            opacity: 1;
        }
    }

    &__title {
        padding-top: 1.6rem;
        font-weight: 400;
        line-height: 1rem;
        color: #000000;
        padding-bottom: 1rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    &__subtitle {
        font-weight: 300;
        line-height: 1rem;
        color: #5D5D5D;
        padding-bottom: 1.2rem;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }

    &__price {
        font-weight: 400;
        line-height: 1.2rem;
        color: darken($mainColor, 10);
        padding-left: 1.2rem;
        padding-bottom: 1.25rem;
    }

    &__overlay {
        background-color: rgb(54, 54, 54, 0.8);
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 26.2rem;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 0;
        transition: 0.6s;

        &:hover {
            opacity: 1;
        }
    }
}

.card-product_disappear {
    @media (max-width: media(level_1)) {
        display: none;
    }
}

.btn__product {
    max-width: 8.6rem;
    padding: 0.8rem 1.5rem;
    color: #ffff;
    border: 1px solid #ffff;

    transition: 0.3s;

    &:hover {
        color: #ffff;
        background-color: $mainColor;
        border: 1px solid $mainColor;
    }

    &:hover .basket__product {
        fill: #ffff;
    }
}

.basket__product {
    fill: #ffff;
    padding-right: 1rem;

    transition: 0.3s;
}