.card-feature {
    width: 21.5rem;
    margin-right: 2rem;

    @media (max-width: media(level_5)) {
        width: 21.5rem;
        margin-right: 0;
        padding-top: 3rem;
    }

    @media (max-width: media(level_11)) {
        width: 100%;
    }


    &:nth-child(1) {
        @media (max-width: media(level_5)) {
            padding-top: 0;
        }
    }

    &:nth-child(3) {
        margin-right: 0;
    }

    &__img {
        fill: $mainColor;
        padding-bottom: 1.75rem;
        padding-left: 44%;
        max-height: 32px;
    }

    &__title {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: #FBFBFB;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 1rem;
        color: #FBFBFB;
        text-align: center;
    }
}

.card-feature:nth-child(1) {

    .card-feature__img:hover {

        .card-feature__img-svg {
            animation: car 3s linear infinite;
        }

        @keyframes car {
            0% {
                transform: translateX(0px);
            }

            25% {
                transform: translateX(60px);

            }

            27% {
                transform: translateX(60px) rotateY(180deg);

            }

            50% {
                transform: translateX(0px) rotateY(180deg);

            }

            75% {

                transform: translateX(-60px) rotateY(180deg);
            }

            77% {

                transform: translateX(-60px);
            }

            100% {
                transform: translateX(0px);
            }
        }
    }
}

.card-feature:nth-child(2) {

    .card-feature__img:hover {

        .card-feature__img-svg {
            animation: bounce 0.9s both;
        }

        @keyframes bounce {
            0% {
                transform: translateX(-8px);
                animation-timing-function: ease-in;
                opacity: 1;
            }

            24% {
                opacity: 1;
            }

            40% {
                transform: translateX(-26px);
                animation-timing-function: ease-in;
            }

            65% {
                transform: translateX(-13px);
                animation-timing-function: ease-in;
            }

            82% {
                transform: translateX(-6.5px);
                animation-timing-function: ease-in;
            }

            93% {
                transform: translateX(-4px);
                animation-timing-function: ease-in;
            }

            25%,
            55%,
            75%,
            87%,
            98% {
                transform: translateX(0px);
                animation-timing-function: ease-out;
            }

            100% {
                transform: translateX(0px);
                animation-timing-function: ease-out;
                opacity: 1;
            }
        }
    }
}

.card-feature:nth-child(3) {

    .card-feature__img:hover {

        .card-feature__img-svg {
            animation: shake 0.8s cubic-bezier(0.5, 0.03, 0.5, 0.9) both;
        }

        @keyframes shake {

            0%,
            100% {
                transform: translateX(0);
            }

            10%,
            30%,
            50%,
            70% {
                transform: translateX(-10px);
            }

            20%,
            40%,
            60% {
                transform: translateX(10px);
            }

            80% {
                transform: translateX(8px);
            }

            90% {
                transform: translateX(-8px);
            }
        }
    }
}