.card-feature {
    width: 22.5rem;
    margin-right: 2rem;


    &:nth-child(3) {
        width: 22.5rem;
    }

    &__img {
        fill: $mainColor;
        padding-bottom: 1.75rem;
        padding-left: 10rem;
        max-height: 32px;
    }

    &__title {
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: #FBFBFB;
        text-align: center;
        padding-bottom: 1rem;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 0.8rem;
        line-height: 1rem;
        color: #FBFBFB;
        text-align: center;
    }
}