.basket-section__cards>.card-cart:nth-child(1) {
    margin-bottom: 2.5rem;
}

.card-cart {
    display: flex;
    justify-content: space-between;
    height: 19.1rem;
    min-width: 40.7rem;
    background: rgb(255, 255, 255);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .20);
}

.card-cart__data {
    display: flex;
}

.card-cart__data-img {
    height: 100%;
}

.card-cart__data-info {
    padding-top: 1.4rem;
    padding-left: 2rem;
}

.card__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    padding-bottom: 2.6rem;
    max-width: 12.5rem;
}

.card-cart__data-info-item {
    display: flex;
}

.card__h-3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 0.4rem;
    color: #575757;
}

.card__h-3_grey {
    color: #6F6E6E;
    padding-left: 0.6rem;
}

.card__h-3_red {
    color: #EF5B70;
    padding-left: 0.6rem;
}

.card__h-3_quantity {
    font-size: 18px;
    line-height: 22px;
    color: #656565;
    border: 1px solid #EAEAEA;
    padding: 0.25rem 1rem 0.1rem;
    margin-left: 1.2rem;
}

.card-cart__close {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 1.75rem;
    margin-right: 1.4rem;
}