@mixin title ($weight, $size, $padding-bottom, $max-width) {
    font: {
        weight: $weight;
        size: $size;
    }

    line-height: 29px;
    color: #222222;
    padding-bottom: $padding-bottom;
    max-width: $max-width;
}

.card__title {
    @include title(400, 1.5rem, 2.6rem, 12.5rem);

    @media (max-width: media(level_6)) {
        font-size: 1rem;
        padding-bottom: 1.5rem;
        max-width: 8rem;
        line-height: 19px;
    }
}

.basket-section__cards {
    .card-cart:nth-child(1) {
        margin-bottom: 2.5rem;
    }
}

.card-cart {
    display: flex;
    justify-content: flex-start;
    height: 19.1rem;
    min-width: 40.7rem;
    background: rgb(255, 255, 255);
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .20);

    transition: 0.8s;

    &:hover {
        transform: translateX(-0.5rem);
    }

    @media (max-width: media(level_6)) {
        height: 11.7rem;
        min-width: 22.3rem;
    }


    &__img {
        height: 100%;

        transition: 0.6s;
    }

    &__info {
        padding: {
            top: 1.4rem;
            left: 2rem;
        }

        @media (max-width: media(level_6)) {
            padding: {
                top: 0.8rem;
                left: 1.1rem;
            }
        }


        &-item {
            display: flex;
        }
    }

    &__close {
        position: absolute;
        fill: #6b6b6b;

        margin: {
            top: 1.75rem;
            left: 38rem;
        }

        transition: 0.5s;

        &:hover {
            transform: scale(1.15);
            fill: #000000;
        }

        @media (max-width: media(level_6)) {
            margin-top: 1rem;
            margin-left: 20.3rem;
        }
    }
}

.card__h-3 {
    font: {
        weight: 400;
        size: 1.4rem;
    }

    line-height: 26px;
    padding-bottom: 0.4rem;
    color: #575757;

    @media (max-width: media(level_6)) {
        font-size: 0.8rem;
        line-height: 1rem;
    }


    &_grey {
        color: #6F6E6E;
        padding-left: 0.6rem;
    }

    &_red {
        color: $mainColor;
        padding-left: 0.6rem;
    }
}

.card__form {

    &-quantity {
        font-size: 1.1rem;
        line-height: 1.4rem;
        color: #656565;
        border: 1px solid #EAEAEA;
        width: 2.1rem;
        padding: 0.25rem 0.4rem 0.1rem 0.9rem;
        margin-left: 1.2rem;

        @media (max-width: media(level_6)) {
            font-size: 0.7rem;
            line-height: 0.8rem;
            margin-left: 0.7rem;
            padding: 0.1rem 0rem 0.1rem 0.6rem;
        }
    }
}