.fill-form {
    margin-top: 7rem;


    &__title {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        padding-bottom: 1.25rem;
    }

    &__fields {
        display: flex;
        flex-direction: column;
        padding-bottom: 3.6rem;
    }

    &__input {
        border: 1px solid #bbbbbb;
        padding: 0.8rem 1rem 0.8rem 1rem;
        margin-bottom: 1.25rem;

        transition: 0.4s;

        &:hover {
            border: 1px solid #000000;
        }
    }

    &__btn {
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        border: 1px solid #bbbbbb;
        padding: 0.8rem 1rem 0.8rem 1rem;
        background: none;
        max-width: 7rem;
        cursor: pointer;

        transition: 0.4s;

        &:hover {
            border: 1px solid #000000;
        }
    }

    &__subtitle {
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        color: #B1B1B1;
        padding-bottom: 2.4rem;
    }

    &__check-label {
        padding-left: 0.6rem;
        margin-right: 1rem;
    }

}



@media (max-width: 700px) {
    .fill-form {
        margin-top: 0;
    }
}

@media (max-width: 568px) {
    .fill-form__fields {
        padding-bottom: 0;
    }
}