.navbar {
    background-color: #222222;
    height: 4.7rem;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 1.25rem !important;
    align-items: flex-end;
    justify-content: space-between;


    &__block {
        display: flex;
        align-items: flex-end;

        &:first-of-type>.icon {
            margin-right: 2.6rem;
        }

        &:last-of-type>.icon {
            margin-left: 2rem;
        }
    }
}

@media (max-width: 375px) {
    .icon_phone {
        display: none;
    }
}