.perks-list {
    display: flex;
    flex-direction: column;
    max-width: 40.7rem;
    margin-top: 4rem;


    &__title,
    &__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 1.4rem;
    }

    &__items {
        list-style-type: none;
    }

    &__item {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 1rem;

        &-check {
            width: 1.1rem;
            height: 1rem;
            padding-right: 1.4rem;
        }
    }
}