.perks-list {
    display: flex;
    flex-direction: column;
    max-width: 40.7rem;
    margin-top: 4rem;


    &__title,
    &__text {
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        padding-bottom: 1.4rem;
    }

    &__items {
        list-style-type: none;
    }

    &__item {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: #000000;
        padding-bottom: 1rem;

        &-check {
            width: 1.1rem;
            height: 1rem;
            padding-right: 1.4rem;
        }
    }
}



@media (max-width: 1080px) {

    .perks-list {
        max-width: 34rem;
        padding-left: 2rem;
    }

    .perks-list__title,
    .perks-list__text,
    .perks-list__item {
        font-size: 1rem;
        line-height: 1.1rem;
    }
}

@media (max-width: 568px) {
    .perks-list {
        margin-top: 2.5rem;
        padding-left: 0;
        max-width: 23rem;
        margin-bottom: 6rem;
    }
}