.products-section {
    margin-bottom: 6rem;


    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 3rem;
    }

    &__header {
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.25rem;
        color: #222222;
        padding-bottom: 0.4rem;
        text-align: center;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;
        color: #9F9F9F;
        padding-bottom: 3rem;
        text-align: center;
    }

    &__button {
        margin: 0 auto;
        margin-top: 3rem;
        min-width: 9rem;
        max-width: 9rem;

        &:hover {
            color: #FFFFFF;
            background-color: $mainColor;
        }
    }

    &__pagination {
        border: 1px solid rgba(235, 235, 235, 1);
        width: 17.7rem;
        height: 2.7rem;
        margin: 0 auto;
    }
}