.product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info__subtitle {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #F16D7F;
    padding-top: 4rem;
    padding-bottom: 0.75rem;
    text-align: center;
}

.lineDividing {
    background: #EF5B70;
    width: 4rem;
    height: 0.2rem;
    margin-bottom: 0.75rem;
}

.product-info__title {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #4D4D4D;
    padding-bottom: 3rem;
    text-align: center;
}

.product-info__desc {
    width: 34.7rem;
}

.product-info__desc-text {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    color: #5E5E5E;
    padding-bottom: 2rem;
}

.product-info__price {
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #EF5B70;
}