.sort {
    display: flex;


    &__filter {
        list-style-type: none;
        text-decoration: none;
        margin-right: 18.5rem;
        margin-top: 3.2rem;
        margin-bottom: 4rem;
        font-weight: 600;
        font-size: 1rem;
        line-height: 1rem;
        color: #000000;

        &-img {
            padding-left: 0.6rem;
        }
    }

    &__dropdown {
        display: flex;
        justify-content: space-between;
        padding-top: 3.2rem;
    }

    &__item {
        list-style-type: none;
        padding-right: 1.75rem;

        &-img {
            padding-left: 0.5rem;
        }

        &-title {
            text-decoration: none;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1rem;
            color: #6F6E6E;
        }
    }
}