.btn {
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #F26376;
    border: 1px solid #FF6A6A;
    padding: 1rem 2.5rem;
    display: block;
    text-align: center;
}