@import url(navbar.css);
@import url(top.css);
@import url(breadcrumb.css);
@import url(slider.css);
@import url(benefits.css);
@import url(categories-section.css);
@import url(products-section.css);
@import url(products-section__cards.css);
@import url(sort);
@import url(btn.css);
@import url(feature-section.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;600,700;800,900;1,100&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 calc(50% - 71.25rem / 2);
}