* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;600,700;800,900;1,100&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 calc(50% - 1140px / 2);
}

$media: (
    level_1: 1112px,
    level_2: 1070px,
    level_3: 900px,
    level_4: 800px,
    level_5: 768px,
    level_6: 700px,
    level_7: 640px,
    level_8: 568px,
    level_9: 475px,
    level_10: 400px,
    level_11: 375px,
);

@function media($width) {
    @return map-get($media, $width)
}

$mainColor: #F16D7F;

@media (max-width: 1180px) {
    .container {
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 0.5rem;
    }
}

@import '_btn.scss';
@import '_navbar.scss';
@import '_top.scss';
@import '_breadcrumb.scss';
@import '_slider.scss';
@import '_benefits.scss';
@import '_categories-section.scss';
@import '_products-section.scss';
@import '_card-product.scss';
@import '_sort-filter.scss';
@import '_feature-section.scss';
@import '_footer.scss';
@import '_basket-section.scss';
@import '_card-cart.scss';
@import '_fill-form.scss';
@import '_basket-total.scss';
@import '_card-offer.scss';
@import '_card-feature.scss';
@import '_product-info.scss';
@import '_sort-dropdown.scss';
@import '_registration-section.scss';
@import '_perks-list.scss';
@import '_pagination.scss';