@import '_navbar.scss';
@import '_top.scss';
@import '_breadcrumb.scss';
@import '_slider.scss';
@import '_benefits.scss';
@import '_categories-section.scss';
@import '_products-section.scss';
@import '_card-product.scss';
@import '_sort.scss';
@import '_btn.scss';
@import '_feature-section.scss';
@import '_footer.scss';
@import '_basket-section.scss';
@import '_card-cart.scss';

* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;600,700;800,900;1,100&display=swap');

body {
    font-family: 'Lato', sans-serif;
}

.container {
    padding: 0 calc(50% - 1140px / 2);
}