@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;600,700;800,900;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.container {
  padding: 0 calc(50% - 570px);
}

@media (max-width: 1180px) {
  .container {
    padding: 0 1rem;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}
.btn {
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1.2rem;
  color: #ed3e56;
  border: 1px solid #ed3e56;
  padding: 1rem 2.5rem;
  display: flex;
  text-align: center;
}

.navbar {
  background-color: #222222;
  height: 4.7rem;
  display: flex;
  box-sizing: border-box;
  padding-bottom: 1.25rem !important;
  align-items: flex-end;
  justify-content: space-between;
}
.navbar__block {
  display: flex;
  align-items: flex-end;
}
.navbar__block:first-of-type > .icon {
  margin-right: 2.6rem;
}
.navbar__block:last-of-type > .icon {
  margin-left: 2rem;
}

.icon:nth-child(1):hover {
  -webkit-animation: shake-2 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
          animation: shake-2 0.7s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@-webkit-keyframes shake-2 {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}
@keyframes shake-2 {
  0%, 100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }
  10% {
    transform: rotate(8deg);
  }
  20%, 40%, 60% {
    transform: rotate(-10deg);
  }
  30%, 50%, 70% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-8deg);
  }
  90% {
    transform: rotate(8deg);
  }
}

.icon:nth-child(2):hover {
  -webkit-animation: rotate 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: rotate 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

.icon:nth-child(3):hover {
  -webkit-animation: wobble 0.7s both;
          animation: wobble 0.7s both;
}
@-webkit-keyframes wobble {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-6px) rotate(6deg);
  }
  30% {
    transform: translateX(4px) rotate(-6deg);
  }
  45% {
    transform: translateX(-4px) rotate(3.6deg);
  }
  60% {
    transform: translateX(3px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-3px) rotate(1.2deg);
  }
}
@keyframes wobble {
  0%, 100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }
  15% {
    transform: translateX(-6px) rotate(6deg);
  }
  30% {
    transform: translateX(4px) rotate(-6deg);
  }
  45% {
    transform: translateX(-4px) rotate(3.6deg);
  }
  60% {
    transform: translateX(3px) rotate(-2.4deg);
  }
  75% {
    transform: translateX(-3px) rotate(1.2deg);
  }
}

@media (max-width: 375px) {
  .icon_phone {
    display: none;
  }
}

.top {
  background-color: #F1E4E6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 47.7rem;
}
@media (max-width: 768px) {
  .top {
    height: 23rem;
  }
}
.top__img {
  padding: 0 0 0 calc(50% - 50rem);
}
@media (max-width: 768px) {
  .top__img {
    height: 100%;
    padding-left: calc(65% - 384px);
    padding-top: 1rem;
  }
}
@media (max-width: 640px) {
  .top__img {
    display: none;
  }
}
.top__heading {
  display: flex;
  -webkit-animation: tracking 0.9s cubic-bezier(0.25, 0.6, 0.4, 1) both;
          animation: tracking 0.9s cubic-bezier(0.25, 0.6, 0.4, 1) both;
}
@-webkit-keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .top__heading {
    padding-right: 32px;
  }
}
@media (max-width: 640px) {
  .top__heading {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }
}
.top__heading {
  padding-left: 4rem;
  padding-right: calc(60% - 570px);
  display: flex;
}
.top__heading-strip {
  height: 5.75rem;
  width: 0.75rem;
  background-color: #F16D7F;
  margin-right: 1rem;
}
.top__heading-text {
  flex-direction: column;
}
.top__title {
  font-weight: 900;
  font-size: 3rem;
  line-height: 3.6rem;
  color: #222222;
}
@media (max-width: 900px) {
  .top__title {
    font-size: 2.75rem;
  }
}
@media (max-width: 375px) {
  .top__title {
    font-size: 2.3rem;
  }
}
.top__subtitle {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #222222;
}
@media (max-width: 900px) {
  .top__subtitle {
    font-size: 1.6rem;
  }
}
@media (max-width: 768px) {
  .top__subtitle {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .top__subtitle {
    font-size: 1.25rem;
  }
}

.breadcrumb {
  background-color: #F8F3F4;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .breadcrumb {
    flex-direction: column;
    align-items: center;
  }
}
.breadcrumb__title {
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 3.7rem;
  padding-bottom: 3.75rem;
  line-height: 1.8rem;
  color: #F16D7F;
  -webkit-animation: text-focus 0.8s cubic-bezier(0.5, 0.08, 0.7, 0.5) both;
          animation: text-focus 0.8s cubic-bezier(0.5, 0.08, 0.7, 0.5) both;
}
@-webkit-keyframes text-focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@media (max-width: 700px) {
  .breadcrumb__title {
    margin: 0 auto;
  }
}
@media (max-width: 475px) {
  .breadcrumb__title {
    padding-bottom: 2rem;
    padding-top: 2rem;
  }
}
.breadcrumb__items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-top: 4rem;
}
@media (max-width: 475px) {
  .breadcrumb__items {
    padding-top: 0;
    padding-bottom: 2.9rem;
  }
}
.breadcrumb__item {
  padding-right: 0.1rem;
}
.breadcrumb__item-title {
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1rem;
  color: #636363;
}

.slider {
  height: 48.6rem;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../images/slide-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.control__arrow-link {
  fill: black;
  background-color: rgba(42, 42, 42, 0.15);
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.control__arrow-link:hover {
  fill: #F16D7F;
}
.control__arrow-link:hover .control__forward-svg {
  transform: scale(1.2);
}

.control__forward-svg {
  transition: 0.3s;
}

.benefits {
  position: relative;
  top: -4rem;
}
.benefits__info {
  border: 1px solid #EAEAEA;
  background-color: rgb(255, 255, 255);
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits__info-line {
  border: 0.1px solid #EAEAEA;
  width: 50%;
  margin-top: 4rem;
}

.sort-product {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.benefits__info-btn {
  margin-bottom: 4rem;
}

.button-basket {
  transition: 0.3s;
}
.button-basket:hover {
  color: white;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}
.button-basket:hover .basket {
  fill: white;
}

.basket {
  fill: #F16D7F;
  padding-right: 1.4rem;
  transition: 0.3s;
}

.categories-section {
  margin-top: 4rem !important;
  margin-bottom: 6rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products-section {
  margin-bottom: 6rem;
}
.products-section__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
@media (max-width: 1112px) {
  .products-section__cards {
    justify-content: center;
  }
}
.products-section__header {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #222222;
  padding-bottom: 0.4rem;
  text-align: center;
}
.products-section__subtitle {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #9F9F9F;
  padding-bottom: 3rem;
  text-align: center;
}
.products-section__button {
  justify-content: center;
  margin: 0 auto;
  margin-top: 3rem;
  min-width: 9rem;
  max-width: 9rem;
  transition: 0.3s;
}
.products-section__button:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.card-product__title {
  font-size: 1rem;
}

.card-product__subtitle {
  font-size: 0.9rem;
}

.card-product__price {
  font-size: 1.1rem;
}

.card-product {
  background-color: #F8F8F8;
  max-width: 22.5rem;
  margin-bottom: 2rem;
  position: relative;
  transition: 0.7s;
}
.card-product:hover {
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
@media (max-width: 1112px) {
  .card-product {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
@media (max-width: 800px) {
  .card-product {
    margin-right: 0.25rem;
    margin-left: 0.25rem;
  }
}
.card-product__link {
  text-decoration: none;
}
.card-product__img {
  width: 100%;
}
.card-product__img:hover .card-product__overlay {
  opacity: 1;
}
.card-product__title {
  padding-top: 1.6rem;
  font-weight: 400;
  line-height: 1rem;
  color: #000000;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.card-product__subtitle {
  font-weight: 300;
  line-height: 1rem;
  color: #5D5D5D;
  padding-bottom: 1.2rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.card-product__price {
  font-weight: 400;
  line-height: 1.2rem;
  color: #ed3e56;
  padding-left: 1.2rem;
  padding-bottom: 1.25rem;
}
.card-product__overlay {
  background-color: rgba(54, 54, 54, 0.8);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 26.2rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
}
.card-product__overlay:hover {
  opacity: 1;
}

@media (max-width: 1112px) {
  .card-product_disappear {
    display: none;
  }
}

.btn__product {
  max-width: 8.6rem;
  padding: 0.8rem 1.5rem;
  color: white;
  border: 1px solid white;
  transition: 0.3s;
}
.btn__product:hover {
  color: white;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
}
.btn__product:hover .basket__product {
  fill: white;
}

.basket__product {
  fill: white;
  padding-right: 1rem;
  transition: 0.3s;
}

.sort {
  display: flex;
}
@media (max-width: 1070px) {
  .sort {
    justify-content: space-between;
  }
}
.sort__filter {
  position: absolute;
  z-index: 2;
  margin-top: 3.2rem;
  margin-bottom: 4rem;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1rem;
  color: #000000;
  transition: 0.6s;
}
@media (max-width: 568px) {
  .sort__filter {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
  }
}
.sort__filter-img {
  padding-left: 0.6rem;
  fill: #000000;
  width: 1rem;
  height: 0.65rem;
  transition: 0.3s;
}
@media (max-width: 568px) {
  .sort__filter-img {
    width: 2.3rem;
    height: 1.5rem;
  }
}
.sort__filter-title {
  display: block;
  cursor: pointer;
  margin-bottom: 1rem;
  display: flex;
  transition: 0.3s;
}
.sort__filter-title-h2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
@media (max-width: 568px) {
  .sort__filter-title-h2 {
    display: none;
  }
}

.filter-category {
  width: 21.2rem;
  transition: 0.6s;
}
.filter-category__title {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  border-left: 6px solid #F16D7F;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.filter-category__links {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.filter-category__link {
  list-style-type: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-left: 1rem;
  margin-bottom: 0.7rem;
  transition: 0.3s;
}
.filter-category__link:hover {
  color: #F16D7F;
}

::-webkit-details-marker {
  display: none;
}

details [open] .filter-category__title {
  color: #F16D7F;
}

details.sort__filter[open] {
  background-color: #fff;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
}
details.sort__filter[open] .sort__filter-title {
  color: #F16D7F;
}
details.sort__filter[open] .sort__filter-img {
  fill: #F16D7F;
}

.feature-section {
  background-color: #222224;
  padding-top: 6.5rem !important;
  padding-bottom: 6.5rem !important;
  display: flex;
}
@media (max-width: 768px) {
  .feature-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.subscribe-section {
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .subscribe-section {
    height: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.quote {
  width: 22.5rem;
  padding-top: 6rem;
}
@media (max-width: 768px) {
  .quote {
    padding-top: 4rem;
  }
}
@media (max-width: 400px) {
  .quote {
    width: 70%;
  }
}
.quote__img {
  padding-left: 7.6rem;
  padding-bottom: 2rem;
}
@media (max-width: 400px) {
  .quote__img {
    padding-left: 30%;
  }
}
.quote__heading {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  color: #222224;
}

.subscribe {
  padding-top: 9.4rem;
  padding-bottom: 9.75rem;
}
@media (max-width: 768px) {
  .subscribe {
    padding-top: 3rem;
    padding-bottom: 8.75rem;
  }
}
.subscribe__title {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}
.subscribe__subtitle {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  padding-bottom: 2rem;
}
@media (max-width: 475px) {
  .subscribe__subtitle {
    font-size: 0.9rem;
  }
}
.subscribe__form {
  display: flex;
  justify-content: center;
  transition: 0.6s;
}
.subscribe__form:hover {
  transform: scale(1.05);
}

.input-subscribe {
  padding: 1rem 4rem 1rem 1.4rem;
  background-color: #E1E1E1;
  border: none;
  border-radius: 1.25rem 0 0 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
}
@media (max-width: 475px) {
  .input-subscribe {
    padding: 1rem 1rem 1rem 1.4rem;
  }
}
@media (max-width: 400px) {
  .input-subscribe {
    padding: 0.2rem 0.2rem 0.2rem 0.5rem;
  }
}

.button-form {
  padding: 1rem 1.2rem 1rem 1.2rem;
  background-color: #F16D7F;
  border: none;
  text-decoration: none;
  border-radius: 0 1.25rem 1.25rem 0;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 400px) {
  .button-form {
    padding: 0.9rem 0.7rem 0.9rem 0.7rem;
  }
}

.copyright {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}
@media (max-width: 475px) {
  .copyright {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
    height: 9rem;
  }
}
.copyright__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #FBFBFB;
  padding-top: 2rem;
}
@media (max-width: 475px) {
  .copyright__text {
    align-items: center;
  }
}
.copyright__network {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.5rem;
}

.icon-network {
  padding-left: 0.5rem;
}
.icon-network__link {
  background-color: #FFFFFF;
  fill: #000000;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.icon-network__link:hover {
  background-color: #F16D7F;
  fill: #FFFFFF;
}

.basket-section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1070px) {
  .basket-section {
    flex-direction: column;
    align-items: center;
  }
}
.basket-section__cards {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}
.basket-section__cards-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
  margin-top: 4.5rem;
}
@media (max-width: 700px) {
  .basket-section__cards-buttons {
    margin-bottom: 3rem;
    margin-top: 1.9rem;
  }
}
.basket-section__button {
  font-weight: 300;
  font-size: 0.9rem;
  color: #5e5e5e;
  border: 1px solid #a2a2a2;
  min-width: 10rem;
  max-width: 10rem;
  transition: 0.4s;
}
.basket-section__button:hover {
  color: #000000;
  border: 1px solid #000000;
}
@media (max-width: 700px) {
  .basket-section__button {
    font-size: 0.75rem;
    padding: 0.5rem 1.3rem;
    min-width: 0;
  }
}
.basket-section__ordering {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
}
@media (max-width: 1070px) {
  .basket-section__ordering {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 40.7rem;
  }
}
@media (max-width: 700px) {
  .basket-section__ordering {
    display: flex;
    flex-direction: column;
    min-width: 22.3rem;
    align-items: stretch;
  }
}

.card__title {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 29px;
  color: #222222;
  padding-bottom: 2.6rem;
  max-width: 12.5rem;
}
@media (max-width: 700px) {
  .card__title {
    font-size: 1rem;
    padding-bottom: 1.5rem;
    max-width: 8rem;
    line-height: 19px;
  }
}

.basket-section__cards .card-cart:nth-child(1) {
  margin-bottom: 2.5rem;
}

.card-cart {
  display: flex;
  justify-content: flex-start;
  height: 19.1rem;
  min-width: 40.7rem;
  background: rgb(255, 255, 255);
  box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.2);
  transition: 0.8s;
}
.card-cart:hover {
  transform: translateX(-0.5rem);
}
@media (max-width: 700px) {
  .card-cart {
    height: 11.7rem;
    min-width: 22.3rem;
  }
}
.card-cart__img {
  height: 100%;
  transition: 0.6s;
}
.card-cart__info {
  padding-top: 1.4rem;
  padding-left: 2rem;
}
@media (max-width: 700px) {
  .card-cart__info {
    padding-top: 0.8rem;
    padding-left: 1.1rem;
  }
}
.card-cart__info-item {
  display: flex;
}
.card-cart__close {
  position: absolute;
  fill: #6b6b6b;
  margin-top: 1.75rem;
  margin-left: 38rem;
  transition: 0.5s;
}
.card-cart__close:hover {
  transform: scale(1.15);
  fill: #000000;
}
@media (max-width: 700px) {
  .card-cart__close {
    margin-top: 1rem;
    margin-left: 20.3rem;
  }
}

.card__h-3 {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 26px;
  padding-bottom: 0.4rem;
  color: #575757;
}
@media (max-width: 700px) {
  .card__h-3 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
}
.card__h-3_grey {
  color: #6F6E6E;
  padding-left: 0.6rem;
}
.card__h-3_red {
  color: #F16D7F;
  padding-left: 0.6rem;
}

.card__form-quantity {
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #656565;
  border: 1px solid #EAEAEA;
  width: 2.1rem;
  padding: 0.25rem 0.4rem 0.1rem 0.9rem;
  margin-left: 1.2rem;
}
@media (max-width: 700px) {
  .card__form-quantity {
    font-size: 0.7rem;
    line-height: 0.8rem;
    margin-left: 0.7rem;
    padding: 0.1rem 0rem 0.1rem 0.6rem;
  }
}

.fill-form {
  margin-top: 7rem;
}
@media (max-width: 1070px) {
  .fill-form {
    min-width: 17rem;
  }
}
@media (max-width: 700px) {
  .fill-form {
    margin-top: 0;
  }
}
.fill-form__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 1.25rem;
}
.fill-form__fields {
  display: flex;
  flex-direction: column;
  padding-bottom: 3.6rem;
}
@media (max-width: 568px) {
  .fill-form__fields {
    padding-bottom: 2rem;
  }
}
.fill-form__input {
  border: 1px solid #bbbbbb;
  padding: 0.8rem 1rem 0.8rem 1rem;
  margin-bottom: 1.25rem;
  transition: 0.4s;
}
.fill-form__input:hover {
  border: 1px solid #000000;
}
.fill-form__btn {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #bbbbbb;
  padding: 0.8rem 1rem 0.8rem 1rem;
  background: none;
  max-width: 7rem;
  cursor: pointer;
  transition: 0.4s;
}
.fill-form__btn:hover {
  border: 1px solid #000000;
}
.fill-form__subtitle {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-bottom: 2.4rem;
}
.fill-form__check-label {
  padding-left: 0.6rem;
  margin-right: 1rem;
}

.basket-total__sub-price {
  color: #4A4A4A;
}

.basket-total__grand-title {
  color: #222222;
}

.basket-total__btn {
  color: #ffffff;
}

.basket-total {
  padding: 2.75rem;
  background: #F5F3F3;
}
@media (max-width: 700px) {
  .basket-total {
    margin-bottom: 6rem;
  }
}
.basket-total__sub {
  display: flex;
  justify-content: end;
}
.basket-total__sub-subtitle, .basket-total__sub-price {
  font-weight: 400;
  font-size: 0.7rem;
  line-height: 13px;
  padding-bottom: 0.9rem;
  text-align: right;
}
.basket-total__sub-price {
  padding-left: 1rem;
}
.basket-total__grand {
  display: flex;
  justify-content: end;
}
.basket-total__grand-title {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2rem;
  padding-bottom: 1.6rem;
}
.basket-total__grand-price {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.2rem;
  color: #F16D7F;
  padding-left: 1rem;
}
.basket-total__line {
  border: 1px solid #E2E2E2;
  margin-bottom: 1rem;
}
.basket-total__btn {
  background-color: #F16D7F;
  font-weight: 300;
  transition: 0.5s;
}
.basket-total__btn:hover {
  transform: scale(1.05);
}

.card-offer {
  width: 32%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-decoration: none;
}
@media (max-width: 375px) {
  .card-offer {
    flex-direction: column;
    width: 100%;
    height: 15rem;
    margin-top: 2rem;
  }
}
.card-offer:hover .card-offer__title {
  transform: scale(1.2);
}
.card-offer:hover .card-offer__subtitle {
  transform: scale(1.2);
}
.card-offer:nth-of-type(1) {
  background-image: url(../images/card1.png);
}
@media (max-width: 375px) {
  .card-offer:nth-of-type(1) {
    margin-top: 0;
  }
}
.card-offer:nth-of-type(2) {
  background-image: url(../images/card2.jpg);
}
.card-offer:nth-of-type(3) {
  background-image: url(../images/card3.jpg);
}
.card-offer_long {
  width: 100%;
  height: 13rem;
  margin-top: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-image: url(../images/card4.jpg);
  transition: 0.6s;
}
@media (max-width: 768px) {
  .card-offer_long {
    max-height: 7.25rem;
  }
}
@media (max-width: 375px) {
  .card-offer_long {
    margin-top: 2rem;
  }
}
.card-offer_long:hover .card-offer__title {
  transform: scale(1.2);
}
.card-offer_long:hover .card-offer__subtitle {
  transform: scale(1.2);
}
.card-offer__title {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
  color: #FFFFFF;
  transition: 0.6s;
}
.card-offer__subtitle {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.8rem;
  text-align: center;
  color: #F16D7F;
  transition: 0.6s;
}

.card-feature {
  width: 21.5rem;
  margin-right: 2rem;
}
@media (max-width: 768px) {
  .card-feature {
    width: 21.5rem;
    margin-right: 0;
    padding-top: 3rem;
  }
}
@media (max-width: 375px) {
  .card-feature {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .card-feature:nth-child(1) {
    padding-top: 0;
  }
}
.card-feature:nth-child(3) {
  margin-right: 0;
}
.card-feature__img {
  fill: #F16D7F;
  padding-bottom: 1.75rem;
  padding-left: 44%;
  max-height: 32px;
}
.card-feature__title {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #FBFBFB;
  text-align: center;
  padding-bottom: 1rem;
}
.card-feature__subtitle {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1rem;
  color: #FBFBFB;
  text-align: center;
}

.card-feature:nth-child(1) .card-feature__img:hover .card-feature__img-svg {
  -webkit-animation: car 3s linear infinite;
          animation: car 3s linear infinite;
}
@-webkit-keyframes car {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(60px);
  }
  27% {
    transform: translateX(60px) rotateY(180deg);
  }
  50% {
    transform: translateX(0px) rotateY(180deg);
  }
  75% {
    transform: translateX(-60px) rotateY(180deg);
  }
  77% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes car {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(60px);
  }
  27% {
    transform: translateX(60px) rotateY(180deg);
  }
  50% {
    transform: translateX(0px) rotateY(180deg);
  }
  75% {
    transform: translateX(-60px) rotateY(180deg);
  }
  77% {
    transform: translateX(-60px);
  }
  100% {
    transform: translateX(0px);
  }
}

.card-feature:nth-child(2) .card-feature__img:hover .card-feature__img-svg {
  -webkit-animation: bounce 0.9s both;
          animation: bounce 0.9s both;
}
@-webkit-keyframes bounce {
  0% {
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87%, 98% {
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateX(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateX(-26px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    transform: translateX(-13px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    transform: translateX(-6.5px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    transform: translateX(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87%, 98% {
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    transform: translateX(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

.card-feature:nth-child(3) .card-feature__img:hover .card-feature__img-svg {
  -webkit-animation: shake 0.8s cubic-bezier(0.5, 0.03, 0.5, 0.9) both;
          animation: shake 0.8s cubic-bezier(0.5, 0.03, 0.5, 0.9) both;
}
@-webkit-keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}
@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70% {
    transform: translateX(-10px);
  }
  20%, 40%, 60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-info__subtitle {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  color: #F16D7F;
  padding-top: 4rem;
  padding-bottom: 0.75rem;
  text-align: center;
}
.product-info__title {
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #4D4D4D;
  padding-bottom: 3rem;
  text-align: center;
}
.product-info__desc {
  width: 60%;
}
.product-info__desc-text {
  font-weight: 300;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
  color: #5E5E5E;
  padding-bottom: 2rem;
}
.product-info__price {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #F16D7F;
}

.lineDividing {
  background: #F16D7F;
  width: 4rem;
  height: 0.2rem;
  margin-bottom: 0.75rem;
}

.sort-dropdown {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 3.2rem;
  list-style-type: none;
}
@media (max-width: 568px) {
  .sort-dropdown {
    padding-top: 1.5rem;
  }
}
@media (max-width: 475px) {
  .sort-dropdown {
    flex-direction: column;
    padding-top: 0.1rem;
  }
}

.catalog-dropdown {
  margin-left: 24.3rem;
  margin-bottom: 4rem;
}
@media (max-width: 1112px) {
  .catalog-dropdown {
    margin-left: 16rem;
  }
}
@media (max-width: 640px) {
  .catalog-dropdown {
    margin-left: 8rem;
  }
}
@media (max-width: 568px) {
  .catalog-dropdown {
    margin-left: 9rem;
  }
}
@media (max-width: 475px) {
  .catalog-dropdown {
    margin-left: 7rem;
    margin-bottom: 3rem;
  }
}

.product-dropdown {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.dropdown-item {
  color: #000000;
}
@media (max-width: 475px) {
  .dropdown-item {
    margin-top: 1.3rem;
  }
}
.dropdown-item:nth-child(1) {
  margin-right: 11rem;
}
@media (max-width: 568px) {
  .dropdown-item:nth-child(1) {
    margin-right: 8rem;
  }
}
@media (max-width: 475px) {
  .dropdown-item:nth-child(1) {
    margin-right: 0;
  }
}
.dropdown-item:nth-child(2) {
  margin-right: 5rem;
}
@media (max-width: 568px) {
  .dropdown-item:nth-child(2) {
    margin-right: 4em;
  }
}
.dropdown-item:last-of-type {
  min-width: 9rem;
}
@media (max-width: 1070px) {
  .dropdown-item:last-of-type {
    min-width: 8rem;
  }
}
@media (max-width: 568px) {
  .dropdown-item:last-of-type {
    min-width: 6.3rem;
  }
}
.dropdown-item__details {
  position: absolute;
  z-index: 1;
  transition: 0.6s;
}
.dropdown-item__details-title {
  display: block;
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1rem;
  color: #6F6E6E;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: 0.4s;
}
.dropdown-item__details-title:hover {
  color: #000000;
}
.dropdown-item__details-title:hover .dropdown-item__details-img {
  fill: #000000;
}
@media (max-width: 568px) {
  .dropdown-item__details-title {
    font-size: 0.7rem;
  }
}
@media (max-width: 475px) {
  .dropdown-item__details-title {
    min-width: 7.5rem;
  }
}
.dropdown-item__details-img {
  padding-left: 0.5rem;
  fill: #6F6E6E;
  height: 0.6rem;
  width: 0.9rem;
  transition: 0.4s;
}

.product-dropdown-item-3 {
  min-width: 5rem !important;
}

.product-dropdown-item-2 {
  margin-right: 10rem !important;
}
@media (max-width: 568px) {
  .product-dropdown-item-2 {
    margin-right: 7rem !important;
  }
}

.dropdown-form {
  transition: 0.6s;
}

.dropdown-label {
  padding-left: 0.2rem;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E;
  transition: 0.3s;
}
@media (max-width: 568px) {
  .dropdown-label {
    font-size: 0.7rem;
    line-height: 0.5rem;
  }
}

details.dropdown-item__details[open] .dropdown-form {
  background-color: #fff;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
}

::-webkit-details-marker {
  display: none;
}

.registration-section {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 568px) {
  .registration-section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.registration-section__form {
  width: 22.5rem;
}
@media (max-width: 375px) {
  .registration-section__form {
    width: auto;
  }
}
.registration-section__btn {
  background-color: #F16D7F;
  color: #FFFFFF;
  font-weight: 300;
  align-items: center;
  padding: 1rem 1.8rem 1rem 1.8rem;
  max-width: 11rem;
  margin-bottom: 6rem;
  cursor: pointer;
  transition: 0.5s;
}
.registration-section__btn:hover {
  transform: scale(1.05);
}
@media (max-width: 568px) {
  .registration-section__btn {
    margin-bottom: 0;
  }
}
.registration-section__btn-img {
  fill: #FFFFFF;
  width: 17px;
  height: 10px;
  padding-left: 1.2rem;
}

.registration-form {
  margin-top: 4rem;
}

.registration-fields {
  padding-bottom: 2rem;
}

.perks-list {
  display: flex;
  flex-direction: column;
  max-width: 40.7rem;
  margin-top: 4rem;
}
@media (max-width: 1070px) {
  .perks-list {
    max-width: 34rem;
    padding-left: 2rem;
  }
}
@media (max-width: 568px) {
  .perks-list {
    margin-top: 2.5rem;
    padding-left: 0;
    max-width: 23rem;
    margin-bottom: 6rem;
  }
}
.perks-list__title, .perks-list__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 1.4rem;
}
@media (max-width: 1070px) {
  .perks-list__title, .perks-list__text {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
.perks-list__items {
  list-style-type: none;
}
.perks-list__item {
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #000000;
  padding-bottom: 1rem;
}
@media (max-width: 1070px) {
  .perks-list__item {
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
.perks-list__item-check {
  width: 1.1rem;
  height: 1rem;
  padding-right: 1.4rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(235, 235, 235);
  width: 17.7rem;
  height: 2.7rem;
  margin: 0 auto;
  padding: 0 0.6rem;
}
@media (max-width: 375px) {
  .pagination {
    width: auto;
  }
}
.pagination__arrow-img {
  width: 1rem;
  height: 0.6rem;
  fill: #000000;
  transform: rotate(90deg);
  transition: 0.3s;
}
.pagination__arrow-img:hover {
  fill: #F16D7F;
}

.arrow-right {
  transform: rotate(-90deg);
}

.pagination__link {
  list-style-type: none;
  text-decoration: none;
  color: #C4C4C4;
  margin-right: 0.6rem;
  transition: 0.2s;
}
.pagination__link:hover {
  color: #000;
}
@media (max-width: 375px) {
  .pagination__link {
    margin-right: 0.3rem;
  }
}

.pagination__link:last-of-type {
  margin-right: 0;
}

.pagination__link:nth-child(1) {
  color: #F16D7F;
}/*# sourceMappingURL=main.css.map */