.navbar {
    background-color: #222222;
    height: 4.6875rem;
    display: flex;
    box-sizing: border-box;
    padding-bottom: 1.25rem;
    align-items: flex-end;
    justify-content: space-between;
}

.navbar__block {
    display: flex;
    align-items: flex-end;
}

.left {
    margin-right: 2.5625rem;
}

.right {
    margin-left: 2.0625rem;
}