.search-section {
    margin-top: 4.0625rem;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
}

.card-offer:nth-child(-n+2) {
    margin-right: 1.875rem;
}

.card-offer-long {
    margin-top: 1.875rem;
}

.card-offer__heading {
    position: absolute;
    padding-top: 6.5625rem;
    padding-left: 6.4375rem;
}

.card-offer-long__heading {
    position: absolute;
    padding-top: 4.0625rem;
    padding-left: 30.625rem;
}

.card-offer__heading-title {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.1875rem;
    text-align: center;
    color: #FFFFFF;

}

.card-offer__heading-subtitle {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8125rem;
    text-align: center;
    color: #F16D7F;
}