.top {
    background-color: #F1E4E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47.75rem;
}


.top__img {
    padding: 0 0 0 calc(50% - 100rem / 2);
}


/*
.top__mv {
    position: relative;
    min-height: 47.75rem;
    display: flex;
    align-items: center;
}

.video-Index {
    width: 100rem;
    position: absolute;
    z-index: -5;
}
*/

.top__heading {
    padding: 0 calc(65% - 100rem / 2) 0 0;
    display: flex;
}

.top__heading {
    margin-left: 4rem;
    display: flex;
}

.top__heading-strip {
    height: 5.75rem;
    width: 0.75rem;
    background-color: #F16D7F;
    margin-right: 1rem;
}

.top__heading-text {
    flex-direction: column;
}

.top__title {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.625rem;
    color: #222222;
}

.top__subtitle {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2.375rem;
    color: #222222;
}